.navbar-custom {
    background: #2C3E50;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

.navbar-custom a:focus {
    outline: none;
}

.navbar-custom .navbar-brand {
    color: white;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
    color: white;
}

.navbar-custom .navbar-nav {
    letter-spacing: 1px;
}

.navbar-custom .navbar-nav li a {
    color: white;
}

.navbar-custom .navbar-nav li a:hover {
    color: #18BC9C;
    outline: none;
}

.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
    color: white;
}

.navbar-custom .navbar-nav li.active a {
    color: white;
    background: #18BC9C;
}

.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
    color: white;
    background: #18BC9C;
}

.navbar-custom .navbar-toggle {
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    border-color: white;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #18BC9C;
    color: white;
    border-color: #18BC9C;
}

@media (min-width: 768px) {
    .navbar-custom {
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-custom.affix {
        padding: 10px 0;
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }
}


/* .header */

.header {
    text-align: center;
    background: #18BC9C;
    color: white;
}

.header .container-header {
    padding-top: 100px;
    padding-bottom: 50px;
}

.header img {
    display: block;
    margin: 0 auto 20px;
}

.header .intro-text .name {
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
}

.header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media (min-width: 768px) {
    .header .container-header {
        padding-top: 160px;
        padding-bottom: 100px;
    }
    .header .intro-text .name {
        font-size: 40px;
    }
    .header .intro-text .skills {
        font-size: 1.75em;
    }
}